In [2]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [4]:
titles = pd.read_csv('titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### Using groupby(), count the number of films that have been released in each decade in the history of cinema.

In [14]:
titles['decade'] = (titles['year'] // 10) * 10
titles[['decade', 'title']].groupby('decade').count()

        title
decade
1890        3
1900       37
1910     6512
1920     8797
1930    10097
1940     8576
1950    12711
1960    17515
1970    18714
1980    20243
1990    22225
2000    38713
2010    67977
2020      210

### Use groupby() count the number of "Hamlet" films made in each decade.

In [23]:
import pandas as pd

# Assuming you have a DataFrame named 'titles' with a 'title' column
# containing the titles of films and a 'year' column with the release years

# Filter the DataFrame to include only "Hamlet" films
hamlets = titles[titles['title'] == 'Hamlet']

# Create a new column 'decade' by extracting the decade from the 'year'
hamlets['decade'] = (hamlets['year'] // 10) * 10

# Group the Hamlet films by 'decade' and count the number of films in each decade
hamlet_counts = hamlets.groupby('decade').size()

# Display the number of "Hamlet" films in each decade
print(hamlet_counts)

decade
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
dtype: int64

C:\Users\juju\AppData\Local\Temp\ipykernel_8672\2439608005.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hamlets['decade'] = (hamlets['year'] // 10) * 10

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [25]:
import pandas as pd

# Assuming you have a DataFrame named 'data' with columns: title, year, name, type, character, n

# Filter the DataFrame to include only leading roles (n=1) in the 1950s
roles_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['n'] == 1)]

# Group the roles by year and type (actor/actress) and count the number of roles in each group
role_counts = roles_1950s.groupby(['year', 'type']).size()

# Display the number of leading roles available to actors and actresses in each year of the 1950s
print(role_counts)

year  type
1950  actor      626
      actress    281
1951  actor      647
      actress    281
1952  actor      607
      actress    293
1953  actor      652
      actress    301
1954  actor      634
      actress    310
1955  actor      641
      actress    281
1956  actor      643
      actress    305
1957  actor      735
      actress    301
1958  actor      710
      actress    295
1959  actor      721
      actress    317
dtype: int64

### In the 1950s taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

In [ ]:
import pandas as pd

# Read the cast.csv file into a DataFrame
data = pd.read_csv('cast.csv')

# Filter the DataFrame to include only roles in the 1950s
roles_1950s = data[(data['year'] >= 1950) & (data['year'] <= 1959)]

# Group the roles by 'n' and 'type' (actor/actress) and count the number of roles in each group
role_counts = roles_1950s.groupby(['n', 'type']).size()

# Display the total number of roles available to actors and actresses for each "n" number (1 through 5) in the 1950s
for n in range(1, 6):
    actor_count = role_counts.loc[(n, 'actor')].sum() if (n, 'actor') in role_counts.index else 0
    actress_count = role_counts.loc[(n, 'actress')].sum() if (n, 'actress') in role_counts.index else 0
    print(f"For n={n}: Total roles for actors: {actor_count}, Total roles for actresses: {actress_count}")

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

### List each of the characters that Frank Oz has portrayed at least twice.